
<div id="background-frame">
    <div id="background-layer-1">
        <style>
            #background-layer-1 {
                background-image: url("https://media.discordapp.net/attachments/586607803213414400/1089687318295748740/background_layer1.png");
            }
        </style>
    </div>
    <div id="background-layer-2">
        <style>
            #background-layer-2 {
                background-image: url("https://media.discordapp.net/attachments/586607803213414400/1089687318857777223/background_layer2.png");
            }
        </style>
    </div>
    <div id="background-layer-3">
        <style>
            #background-layer-3 {
                background-image: url("https://media.discordapp.net/attachments/586607803213414400/1089687319117836308/background_layer3.png");
            }
        </style>
    </div>
</div>
<app-button-container></app-button-container>